<% layout('/layouts/boilerplate')%>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css" />
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Attractions</h1>
<div class="mb-3">
    <a class="btn btn-primary" style="background-color: yellowgreen;" href="/campgrounds/new"> Add New Attraction</a>
</div>

<% for (let campground of campgrounds ) {%>
<div class="card" mb-3 style="background-color: rgb(239, 252, 250);">
    <div class="row">
        <div class="col-md-3">
            <% if(campground.images.length !== 0) { %>
            <img class="img-fluid" alt="" src="<%= campground.images[0].url %> ">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title  %></h5>
                <p class="card-text"> <%= campground.description  %> </p>
                <p class="card-text">
                    <small class="text-muted"> <%= campground.location  %> </small>
                </p>
                <a class="btn btn-primary" style="background-color: rgb(250, 150, 0);"
                    href="/campgrounds/<%= campground._id %> "> View <%= campground.title  %>
                </a>
            </div>
        </div>
    </div>
</div>
<%}%>
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campground = { features: JSON.parse('<%- JSON.stringify(campgrounds) %>') };
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<script src="/javascripts/clusterMap.js"> </script>